{{ form_start(form, {'attr' : {'class': 'form-horizontal'}}) }}
    {{ form_widget(form, {'attr': {'class': 'class="form-control'}}) }}
    <button class="btn btn-success" role="button">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
